<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogesh.ecoinfo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Widget.AppCompat.Light.ActionBar" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EcoSystem"
            android:label="@string/title_activity_eco_system" >
        </activity>
        <activity
            android:name=".NGOs"
            android:label="@string/title_activity_ngos" >
        </activity>
        <activity
            android:name=".Acts"
            android:label="@string/title_activity_acts" >
        </activity>
        <activity
            android:name=".Products"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name=".Articles"
            android:label="@string/title_activity_articles" >
        </activity>
        <activity
            android:name=".Tips"
            android:label="@string/title_activity_tips" >
        </activity>
    </application>

</manifest>
